@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
    font-family: "Noto Sherif KR", sans-serif !important;
    background: #ffffff;
	border-style: none;
	margin: auto;
	max-width: 750px;
    word-break: keep-all;
}


header {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 15px;
    background-color: white;
    color: #0042A1;
}

header a {
    text-decoration: none;
}

header .title {
    font-weight: bold;
    font-size: x-large;
    color: #0042A1;

    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: #0042A1;
    padding-left: 10px;
}

header .subtitle {
    font-weight: bold;
    font-size: large;
    color: darkgray;
}

nav {
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 180%;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #cccccc;
}

nav img {
    width: 20px;
    opacity: 0.75;
}

#tags {
    white-space: nowrap;
    overflow: auto; 
    margin: 10px;
}

#tags button {
    position: relative;
    display: inline-block;
    border: none;
    padding: 10px 10px;
    border-radius: 10px;
    text-decoration: none;
    font-size: large;
    transition: 0.25s;
    margin: 5px;
    margin-bottom: 20px;
}

.tag {
    color: black;
    background-color: rgb(235, 235, 235);
}

.tag:hover {
    color: black;
    background-color: darkgray;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.tag_selected {
    background-color: #00A0E2;
    color: white;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}


.pledge {
    margin: 20px;
    padding-bottom: 25px;
    background-color: white;
    border: none;
    padding: 5px 0px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    transition: 0.25s;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(112, 110, 110);
}

#pledges_message {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: xx-large;
    font-weight: normal;
    color: rgb(68, 68, 68);
    line-height: 200%;

    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #cccccc;
}

#pledges_message span {
    color: #00A0E2;
    font-weight: bolder;
}

.pledge_location {
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
    color: #0B68B3;
    font-size: x-large;
    font-weight: bold;
}

.pledge_title {
    margin-top: 15px;
    margin-bottom: 25px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

.pledge_title a:hover {
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #cccccc;
}

.pledge_description {
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    line-height: 180%;
}

.pledge_description {
    color: rgb(112, 110, 110);   
}

.pledge_more {
    text-align: center;
    margin-bottom: 20px;
}

.pledge_more img {
    width: 20px;
    opacity: 0.55;
}

.links {
    display: none;
    border-top-width: 1px;
    border-top-style: dotted;
    border-top-color: #cccccc;
    transition: 0.25s;
}

.link_website {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.link_website a {
    text-decoration: none;
    color: white;
    background-color:#0B68B3;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
    line-height: 180%;
}

.links div {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.links img {
    width: 100%;
    max-width: 950px;
    /* height: 320px; */
}

.links iframe {
    width: 100%;
    max-width: 950px;
    height: 320px;
}

#pledges_gotop {
    text-align: center;
    margin: 35px;
    padding: 10px;
    border-width: 1px;
    border-style: dotted;
    border-color: lightgray;
    transition: 0.25s;
    color: #00A0E2;
}

#pledges_gotop:hover {
    background-color: lightgray;
}

#pledges_gotop img {
    width: 35px;
    opacity: 0.45;
}

#pledges_gotop_tags {
    margin-top: 30px;
    color: rgb(112, 110, 110);
    font-size: small;
    line-height: 150%;
}

footer {
    margin-top: 55px;
    padding: 35px;
    font-size: small;
    border-top-width: 1px;
    border-top-style: dotted;
    border-top-color: lightgray;
    color: rgb(112, 112, 112);
}

footer a {
    color: rgb(112, 112, 112);
}

footer a:hover {
    font-weight: bold;
}

footer .socialmedia {
    text-align: center;
    margin: 5px;
}

footer .socialmedia img {
    margin: 15px;
    width: 32px;
}